NET "CLK_IN" LOC = AA12 | IOSTANDARD = LVCMOS33;

## RS232 PORT
#Net RS232_RX LOC=A16;
#Net RS232_TX LOC=B16;

##
NET "GPIO_LEDS<0>"                  LOC = "H8" | IOSTANDARD = LVCMOS15;
NET "GPIO_LEDS<1>"                  LOC = "J7" | IOSTANDARD = LVCMOS15;
NET "GPIO_LEDS<2>"                  LOC = "T4" | IOSTANDARD = LVCMOS15;
NET "GPIO_LEDS<3>"                  LOC = "T3" | IOSTANDARD = LVCMOS15;

##
NET "PHY_RESET"                   LOC = "T15" | IOSTANDARD = LVCMOS33;   ## 36  ON U46

NET "GTXCLK" LOC = R11 | IOSTANDARD = LVCMOS33;
NET "TXEN" LOC = AB16 | IOSTANDARD = LVCMOS33;
NET "TXER" LOC = AB18 | IOSTANDARD = LVCMOS33;

NET "RXD[0]" LOC = Y3 | IOSTANDARD = LVCMOS33;
NET "RXD[1]" LOC = W8 | IOSTANDARD = LVCMOS33;
NET "RXD[2]" LOC = W4 | IOSTANDARD = LVCMOS33;
NET "RXD[3]" LOC = U9 | IOSTANDARD = LVCMOS33;
NET "RXD[4]" LOC = V7 | IOSTANDARD = LVCMOS33;
NET "RXD[5]" LOC = V5 | IOSTANDARD = LVCMOS33;
NET "RXD[6]" LOC = W9 | IOSTANDARD = LVCMOS33;
NET "RXD[7]" LOC = U6 | IOSTANDARD = LVCMOS33;
NET "TXD[0]" LOC = AA18 | IOSTANDARD = LVCMOS33;
NET "TXD[1]" LOC = AB14 | IOSTANDARD = LVCMOS33;
NET "TXD[2]" LOC = AA16 | IOSTANDARD = LVCMOS33;
NET "TXD[3]" LOC = W14 | IOSTANDARD = LVCMOS33;
NET "TXD[4]" LOC = T16 | IOSTANDARD = LVCMOS33;
NET "TXD[5]" LOC = Y14 | IOSTANDARD = LVCMOS33;
NET "TXD[6]" LOC = V15 | IOSTANDARD = LVCMOS33;
NET "TXD[7]" LOC = AA14 | IOSTANDARD = LVCMOS33;
NET "RXCLK" LOC = Y11 | IOSTANDARD = LVCMOS33;
NET "TXCLK" LOC = W12 | IOSTANDARD = LVCMOS33;
NET "RXER" LOC = Y8 | IOSTANDARD = LVCMOS33;
NET "RXDV" LOC = Y4 | IOSTANDARD = LVCMOS33;
NET "MDC" LOC = AA2 | IOSTANDARD = LVCMOS33;
NET "MDIO" LOC = AB3 | IOSTANDARD = LVCMOS33;

#Timing
NET "CLK_IN" TNM_NET = "CLK_IN";
TIMESPEC TS_clk_in = PERIOD "CLK_IN" 125 MHz HIGH 50% INPUT_JITTER 80 ps;

#Define the clock period of the 125MHz RXCLK
NET "RXCLK" TNM_NET = RXCLK;
TIMESPEC TS_RXCLK = PERIOD "RXCLK" 125 MHz HIGH 33%;


#Define the  setup and hold times of RX data relative to RXCLK
INST "RXD<?>" TNM = "IN_GMII";
INST "RXDV"   TNM = "IN_GMII";
INST "RXER"   TNM = "IN_GMII";
TIMEGRP "IN_GMII" OFFSET = IN 2.5 ns VALID 3.0 ns BEFORE "RXCLK" RISING;

NET "TXER" TNM = "OUT_GMII";
NET "TXD[?]" TNM = "OUT_GMII";
NET "TXEN" TNM = "OUT_GMII";
NET "GTXCLK" TNM = "OUT_GMII";
# 25 ns constraint is for MII only
# REFERENCE_PIN constraint is for GMII bus skew analysis
TIMEGRP "OUT_GMII" OFFSET = OUT 25 ns AFTER "TXCLK" REFERENCE_PIN "GTXCLK";

